<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>

  <body>
    <!-- Navigation -->
    <%- include('partials/_navigation') %>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Add New Post</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form action="add_post" method="post">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Title</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Title"
                  id="title"
                  name="title"
                  data-validation-required-message="Please enter a post title."
                  required
                />
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Sub Title-Summary</label>
                <textarea
                  rows="2"
                  class="form-control"
                  placeholder="Sub Title - Summary"
                  id="SubTitle"
                  name="subTitle"
                ></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Post</label>
                <textarea
                  rows="8"
                  class="form-control"
                  placeholder="Post Content"
                  id="content"
                  name="postBody"
                  data-validation-required-message="Please write post content."
                  required
                ></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br />
            <div id="success"></div>
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
          </form>
        </div>
      </div>
    </div>

    <hr />

    <!-- Footer -->
    <%- include('partials/_footer') %>
  </body>
</html>
